body{
  margin: 0;

}

.top-container{
  background-image: url("https://images.unsplash.com/photo-1675935121679-c7a773021a22?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-container h1{
  color: white;
  font-size: 50px;
  letter-spacing: 2px;

}

.text{
  margin: 50px 5%;
  font-family: sans-serif;

}

.navbar{
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s;
}

.navbar ul{
  display: flex;
  list-style-type: none;

}

.navbar ul li a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
  align-items: center;
}

.navbar ul li a:hover{
  color: orangered;
}


.navbar.active{
  background-color: black;

}

.navbar.active ul li a{
  color: white;

}

.navbar.active ul li a:hover{
  color: orangered;

}