body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(179, 66, 66);
}

.image-container{
  text-align: center;
}

.image-container img{
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  width: 300px;
  height: 300px;
}

.btn{
  background-color: slateblue;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(106, 90, 205, 0.2);
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.btn:hover{
  background-color: white;
  color: slateblue;
}

.btn:active{
  background-color: white;
  color: slateblue;
  padding: 9px 18px;

}